.footerStyles {

    background-color: transparent !important;
    border: none !important;
    display: flex;
    justify-content: center;
}

.spanFooter1 {

    color: white !important;

}

.spanFooter2 {

    font-weight: 900;

}